<modal v-bind:show="visible" v-bind:modal-class="'modal-big'" v-on:close-dialog="close">

    <div class="col--12" slot="header">

        <button type="button" data-dismiss="modal" aria-label="Close" class="close pull-right" @click="close()">
            <span class="close-dialog-button-text">×</span>
        </button>

        <h4 v-if="canDisplayTitle" class="bold-font">
            Create Lottery
        </h4>

        <span class="blue" v-if="saveLottery.loading">
            Processing <i class="fa fa-spinner fa-spin"></i>
        </span>

        <span class="wine smaller-font" v-if="isValidString(saveLottery.error)"
            v-text="'ERROR: ' + saveLottery.error"></span>

    </div>

    <div class="row h-padding-small" slot="body">
        <div class="panel-body col--12">

            <div class="wizard-step-list-item-container">
                <div class="stepy-tab">
                    <ul id="default-titles" class="stepy-titles clearfix">
                        <li v-for="(page, index) in formWizard.pages" @click="formWizard.setPage(index)"
                            v-bind:class="{'current-step': formWizard.isSelectedPage(page.key)}">
                            <div>Step {{index+1}}</div>
                            <span> </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wizard-main-item-container">
                <validation-observer ref="observer" tag="form" role="form" v-slot="{ invalid }"
                    @submit.prevent="createLottery" novalidate>
                    <div class="dialog-wizard-main-content-container">
                        <div v-show="formWizard.isSelectedPage('BASIC_DETAILS')">
                            <div class="col--12">
                                <h5 class="grey bold-font">Basic Details</h5>
                            </div>
                            <div class="form-group">
                                <label for="nameField">Title</label>
                                <validation-provider rules="required" v-slot="{ invalid }">
                                    <input type="text" class="form-control" id="nameField" maxlength=""
                                        v-bind:class="{'invalid-field': invalid}" placeholder="Enter Title of Lottery"
                                        v-model="lottery.name" />
                                </validation-provider>
                            </div>
                            <div class="form-group">
                                <label for="descField">Description</label>
                                <validation-provider rules="required" v-slot="{ invalid }">
                                    <textarea class="form-control resize-v default-desc-text-area" id="descField"
                                        v-bind:class="{'invalid-field': invalid}"
                                        placeholder="Enter Lottery Description" v-model="lottery.description">
                                    </textarea>
                                </validation-provider>
                            </div>
                        </div>
                        <div v-show="formWizard.isSelectedPage('MORE_DETAILS')">
                            <div class="col--12">
                                <h5 class="grey bold-font">More Details</h5>
                            </div>
                            <div class="col--12 v-padding-medium">

                                <div class="col--12 h-padding-v-small">
                                    <div class="form-group">
                                        <label for="lotteryEndDate">Registration End Date</label>
                                        <validation-provider rules="required" v-slot="{ invalid }">
                                            <input id="lotteryEndDate" type="date" class="form-control"
                                                v-bind:class="{'invalid-field': invalid}" v-model="lottery.endDate" />
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col--12">
                                    <div class="col--6 pull-left">
                                        <div class="form-group">
                                            <label for="lotteryEvalDate">Date of Lottery</label>
                                            <validation-provider rules="required" v-slot="{ invalid }">
                                                <input id="lotteryEvalDate" type="date" class="form-control"
                                                    v-bind:class="{'invalid-field': invalid}"
                                                    v-model="lottery.dateOfEvaluation" />
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="col--6 pull-left l-padding-small">
                                        <div class="form-group">
                                            <label for="lotteryEvalDate">Time of Lottery</label>
                                            <validation-provider rules="required" v-slot="{ invalid }">
                                                <input id="lotteryEvalTime" type="time" class="form-control"
                                                    v-bind:class="{'invalid-field': invalid}"
                                                    v-model="lottery.timeOfEvaluation" />
                                            </validation-provider>
                                        </div>
                                    </div>
                                </div>
                                <div class="col--12">
                                    <div class="col--6 pull-left">
                                        <div class="form-group">
                                            <label for="lotteryTicketCost">Ticket Cost (N)</label>
                                            <validation-provider rules="required" v-slot="{ invalid }">
                                                <input id="lotteryTicketCost" type="number" class="form-control"
                                                    step="1" pattern="\d*" min="100" max="1000"
                                                    oninput="this.value = Math.round(this.value);"
                                                    placeholder="min: 100, max: 1000"
                                                    v-bind:class="{'invalid-field': invalid}"
                                                    v-model="lottery.ticketCost" />
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="col--6 pull-left l-padding-small">
                                        <div class="form-group">
                                            <label for="lotteryWinnersCount">Number of Winners</label>
                                            <validation-provider rules="required" v-slot="{ invalid }">
                                                <input id="lotteryWinnersCount" type="number" class="form-control"
                                                    step="1" pattern="\d*" min="1" max="20"
                                                    oninput="this.value = Math.round(this.value);" placeholder="max: 20"
                                                    v-bind:class="{'invalid-field': invalid}"
                                                    v-model="lottery.winnersCount" />
                                            </validation-provider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="formWizard.isSelectedPage('UPLOAD_IMAGES')">
                            <div class="col--12">
                                <h5 class="grey bold-font">Upload Images</h5>
                            </div>
                            <br /><br />
                            <input class="btn btn-outline-success" type="file" name="files[]" multiple
                                v-on:change="fileChanged" />

                            <table role="presentation" class="table v-margin-medium table-striped">
                                <tbody class="files">
                                    <tr 
                                        v-for="fileUpload in fileUploader.uploads">
                                        <td class="col--4">
                                            <p>{{fileUpload.getFile().name}}</p>
                                        </td>
                                        <td class="col--5">
                                            <br />
                                            <div 
                                                v-if="fileUpload.getResource().loading"
                                                class="progress progress-striped active" role="progressbar"
                                                aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                                            </div>
                                        </td>
                                        <td class="col--3">
                                            <button data-toggle="button" class="pull-right btn btn-danger" 
                                                @click="fileUploader.removeFile(fileUpload.getFile())">
                                                <i class="fa fa-trash slight-bigger-text"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-show="formWizard.isSelectedPage('SELECT_CAMPAIGNS')">
                            <div class="col--12">
                                <h5 class="grey bold-font">Select Campaigns</h5>
                            </div>
                            <div class="col--12 h-padding-v-small">
                                <div class="iconic-input">
                                    <i class="fa fa-search large-font h-margin-small"></i>
                                    <input id="lotteryCampaignsSearch" class="form-control" type="text" v-model="lottery.campaignSearch"
                                        placeholder="Search for a Campaign" v-on:input="searchActiveCampaigns()" />
                                </div>
                                
                                <div class="col--12 selected-campaign-search-results-container" v-show="true">
                                    <div class="campaign-search-result v-margin-small">
                                        <div class="row h-padding-medium">
                                            <div
                                                class="pull-left profile-photo-container campaign-search-result-photo-container r-margin-small">
                                                <div
                                                    style="border-radius:50px;display:inline-block;width:50px;height:50px;background:#000;">

                                                </div>
                                            </div>
                                            <div
                                                class="campaign-search-result-name-container single-line-hidden-overflow">
                                                <span class="dark-grey slight-smaller-font">
                                                    @burnaboyburnaboyburnaboy
                                                </span>
                                            </div>
                                            <div class="col--12 pull-left slight-smaller-font selected-results-title">
                                                Support our effort to build a new school for the community.
                                            </div>
                                        </div>
                                        <div class="row campaign-search-result-remove-container h-padding-medium">
                                            <span class="col--12 center-container">
                                                <a href="javascript:void(0);" class="wine">
                                                    Remove
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="campaign-search-result v-margin-small">
                                        <div class="row h-padding-medium">
                                            <div
                                                class="pull-left profile-photo-container campaign-search-result-photo-container r-margin-small">
                                                <div
                                                    style="border-radius:50px;display:inline-block;width:50px;height:50px;background:#000;">

                                                </div>
                                            </div>
                                            <div
                                                class="campaign-search-result-name-container single-line-hidden-overflow">
                                                <span class="dark-grey slight-smaller-font">
                                                    @burnaboyburnaboyburnaboy
                                                </span>
                                            </div>
                                            <div class="col--12 pull-left slight-smaller-font selected-results-title">
                                                Support our effort to build a new school for the community.
                                            </div>
                                        </div>
                                        <div class="row campaign-search-result-remove-container h-padding-medium">
                                            <span class="col--12 center-container">
                                                <a href="javascript:void(0);" class="wine">
                                                    Remove
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="campaign-search-result v-margin-small">
                                        <div class="row h-padding-medium">
                                            <div
                                                class="pull-left profile-photo-container campaign-search-result-photo-container r-margin-small">
                                                <div
                                                    style="border-radius:50px;display:inline-block;width:50px;height:50px;background:#000;">

                                                </div>
                                            </div>
                                            <div
                                                class="campaign-search-result-name-container single-line-hidden-overflow">
                                                <span class="dark-grey slight-smaller-font">
                                                    @burnaboyburnaboyburnaboy
                                                </span>
                                            </div>
                                            <div class="col--12 pull-left slight-smaller-font selected-results-title">
                                                Support our effort to build a new school for the community.
                                            </div>
                                        </div>
                                        <div class="row campaign-search-result-remove-container h-padding-medium">
                                            <span class="col--12 center-container">
                                                <a href="javascript:void(0);" class="wine">
                                                    Remove
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-search-results-container box-shadowed" v-show="searchCampaigns.data.length">

                                    <div v-for="result in searchCampaigns.data"
                                        class="row bottom-bordered-lighter h-padding-medium v-padding-small pointer">
                                        <div class="col--12">
                                            <div class="col--1 pull-left profile-photo-container r-margin-small">
                                                <img 
                                                        v-if="result.owner.photoThumbnail" 
                                                        class="img-profile-thumbnail"
                                                        :src="result.owner.photoThumbnail" />
                                                <div v-else 
                                                    style="border-radius:50px;display:inline-block;width:50px;height:50px;background:#000;">
                                                    
                                                </div>
                                            </div>
                                            <div class="campaign-search-overlay-details-container">
                                                <div>
                                                    <span class="bold-font">{{result.owner.name}}</span>
                                                    <span><i class="fa fa-check-circle blue"></i></span>
                                                    <span class="dark-grey h-margin-small">@{{result.owner.username}}</span>
                                                </div>
                                                <div class="slight-smaller-font single-line-hidden-overflow">
                                                    {{result.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div v-show="formWizard.isSelectedPage('CONFIRMATION')">
                            <div class="col--12">
                                <h5 class="grey bold-font">Confirmation</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row max-width-container bottom-anchored-in-parent ">
                        <div class="col--12">
                            <div class="modal-action-buttons-container">
                                <input type="button" @click="formWizard.previous()"
                                    :disabled="!formWizard.canPrevious()"
                                    class="btn btn-danger default-dialog-action-btn" value="Previous" />
                                <input type="button" @click="formWizard.next()" :disabled="!formWizard.canNext()"
                                    class="btn btn-primary default-dialog-action-btn" v-if="!formWizard.isLastPage()"
                                    value="Next" />
                                <button @click="createLottery()" :disabled="saveLottery.loading||invalid"
                                    class="btn btn-primary default-dialog-action-btn" v-if="formWizard.isLastPage()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
        </div>

    </div>
    <div class="no-display" slot="footer">
        //
    </div>
</modal>