<!--sidebar start-->
<aside class="side-menu hidden-xs">
    <div id="sidebar" class="nav-collapse sidebar-main" tabindex="5000"
        style="overflow: hidden; outline: none; margin-left: 0px;">
        <div class="row row-container">
            <div class="pull-left v-margin-top-v-big">
                <span id="welcome-msg">
                    Welcome Julian
                </span>
            </div>
            <div id="sidebar-logo-box"></div>
        </div>
        <div class="col-md-12 row-container sidebar-menu-container">
            <!-- sidebar menu start-->
            <nav-menu-list />
            <!-- sidebar menu end-->
        </div>
    </div>
    <div class="bottom-anchored white h-margin-small">
        &copy; 2020
    </div>
</aside>
<!--sidebar end-->




