.gridcolumn-3-2 {
  //   display: grid;
  grid-template-columns: 3fr, 2fr !important;
}

.m-fadeOut {
  display: none;
  opacity: 0;
  transition: display 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  display: block;
  opacity: 1;
  transition: display 0s linear 0s, opacity 300ms;
}

.displayTransition {
  transition-property: display;
  transition-duration: 2s;
}

.fadein,
.fadeout {
  opacity: 0;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
.fadein {
  opacity: 1;
}

.dropDownMenu {
  box-shadow: 2px 4px 12px rgba(153, 153, 153, 0.1);
  // box-shadow: 9px 9px 12px rgb(153 153 153 / 10%);
  background-color: #e6f1f4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.pointy {
  border-top: 0rem solid transparent;
  // border-right: 0.4rem solid #e6f1f4;
  // border-left: 0.5rem solid transparent;
  // border-bottom: 0.4rem solid #e6f1f4;

  border-right: 0.5rem solid #e6f1f4;
  border-left: 0.9rem solid transparent;
  border-bottom: 0.6rem solid #e6f1f4;
  width: 0px;
  height: 0px;
  border-top-right-radius: 5px;
}

.dropdown {
  position: relative;
}

.dd-menu {
  position: absolute;
  // opacity: 0;
  // transform: translateY(-10px);
  // pointer-events: none;
  // transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

// .dropdown.active > .menuAnchor + .dd-menu {
//   opacity: 1;
//   transform: translateY(0);
//   pointer-events: auto;
// }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
