.fs-12 {
  font-size: 14px;
}

.fs-14 {
  font-size: 14px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.h-50px {
  height: 3.125rem;
}

.h-26 {
  height: 6.25rem;
}

.line-h-100 {
  line-height: 100%;
}

.max-w-70 {
  max-width: 70rem;
}

.bg-blue-50 {
  background-color: #f1f7f9;
}

.bg-blue-70 {
  background-color: #cde3ea;
}

.bg-blue-100 {
  background-color: #cfeef7;
}

.bg-blue-200 {
  background-color: #4691a6;
}

.bg-blue-200:hover {
  background: #3b7d8f;
}

.border-yellow {
  border-color: #ffb900;
}

.bg-yellow {
  background-color: #ffb900;
}

.bg-yellow:hover {
  background-color: #eacc28 !important;
}

.border-grey-dark {
  border: 1px solid #767676;
}

.border-blue-dark:focus {
  border-color: #2c5662;
}

.border-text-blue-200 {
  color: #4691a6;
  border: 1px solid #4691a6;
}

.focus-border-blue-200:focus {
  border-color: #4691a6;
}

.text-grey-dark {
  color: #343434;
}

.text-dark {
  color: #494949;
}

.text-grey-light {
  color: #767676;
}

.backgroundGrey {
  background-color: #343434;
}

.dark-blue-text {
  color: #2c5662;
}

.light-blue-text {
  color: #4691a6;
}

.light-blue-text-hover:hover {
  color: #4691a6;
}

.bg-dark-blue {
  background-color: #2c5662;
}

.progressbar-green {
  background-color: #00b300;
}

.divContainer {
  // overflow-y: scroll;
  height: calc(100% - 84px);
  margin-top: 84px;
}

.overflow-y {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 16px;
  // height: 120px;
}
::-webkit-scrollbar-track {
  background: #d4e7ed;
}
::-webkit-scrollbar-thumb {
  background: #4691a6;
  border-radius: 10px;
  height: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b7d8f;
}

.navheaderPadding {
  padding-right: 16px;
}

.instructionsDisplay {
  display: none;
}

.notice::-webkit-scrollbar {
  width: 8px;
  // height: 120px;
}

.roundLoader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4691a6;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.spartan {
  font-family: "Spartan", sans-serif;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
  position: relative;
}

.dot:hover {
  background-color: #717171;
}

.activeDot {
  background-color: #717171;
}

.inactiveDot {
  background-color: blue;
}

.backOfficeSidebar {
  background-color: #1d414b;
}

// .tooltip {
//   position: relative;
//   display: inline-block;
//   border-bottom: 1px dotted black;
// }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .instructionsDisplay {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  .navheaderPadding {
    padding-right: 12px;
  }
}

.landingPageImage {
  display: none;
}

.landingPageText {
  text-align: center;
}

@media (min-width: 1280px) {
  .landingPageImage {
    display: block;
  }

  .landingPageText {
    text-align: left;
  }
}
