.bg-blue-50 {
  background-color: #f1f7f9;
}

.bg-blue-100 {
  background-color: #cfeef7;
}

.bg-blue-200 {
  background-color: #4691a6;
}

.border-grey-dark {
  border: 1px solid #767676;
}

.text-grey-dark {
  color: #343434;
}

.text-dark {
  color: #494949;
}

.text-grey-light {
  color: #767676;
}

.backgroundGrey {
  background-color: #343434;
}

.dark-blue-text {
  color: #2c5662;
}

.light-blue-text {
  color: #4691a6;
}

.bg-dark-blue {
  background-color: #2c5662;
}

.divContainer {
  // overflow-y: scroll;
  height: calc(100% - 84px);
  margin-top: 84px;
}

.overflow-y {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 16px;
  // height: 120px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  height: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navheaderPadding {
  padding-right: 16px;
}

@media only screen and (max-width: 1024px) {
  .instructionsDisplay {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  .navheaderPadding {
    ppadding-right: 12px;
  }
}
