.signupHeader {
    position: fixed;
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;
    /* background-color: #ffffff; */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
    z-index: 1;
  }
  
  .customButton {
    background: #4691a6;
    border-radius: 8px;
    height: 40px;
  }

  .footerLogo {
    position: relative;
    width: 175px;
    height: 40px;
    /* left: 10%;
    top: 22px; */
  
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
  
    letter-spacing: -0.14em;
  
    color: #4691a6;
  }
  
  .signupLogo {
    position: relative;
    width: 175px;
    height: 40px;
    /* left: 10%;
    top: 22px; */
  
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
  
    letter-spacing: -0.14em;
  
    color: #4691a6;
  }
  
  
  .spartan {
    font-family: "Spartan", sans-serif;
  }
  
  .menuIcon {
    display: none;
    width: 24px;
    height: 24px;
    color: #4691a6;
  }
  
  .signupMain {
    position: relative;
  
    /* width: 520px; */
    /* height: 720px; */
    /* left: 460px; */
    /* margin: 0 auto 0; */
    /* top: 84px; */
    border: 2px solid #2c5662;
    /* box-sizing: border-box; */
    border-radius: 8px;
    /* padding: 0 60px; */
    /* display: flex; */
    /* align-items: center;
    flex-direction: column; */
    /* z-index: -1; */
  }
  
 
  
  .anchorDIv {
    width: 60%;
    display: flex;
    justify-content: flex-end;

  }


  @media only screen and (max-width: 640px) {
    .signupMain {
      border: none;
      padding-top: 0;
      padding-left: 5px;
      padding-right: 5px;
      --tw-bg-opacity: 1;
      background-color: rgba(249, 250, 251, var(--tw-bg-opacity)) !important;
    }
  
    .signupMainOuterDiv {
      margin-top: 0;
    }
  
    .mainHeaderDiv {
      margin-bottom: 35px !important;
    }
  }
  
  @media only screen and (max-height: 700px) {
    .smHeight {
      margin-top: 26px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .anchorDIv {
      display: none;
    }
    .innerHeaderDiv {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  
    .signupLogo {
      display: none;
    }
  
    .menuIcon {
      display: flex;
    }
  }
  
  .mainHeader {
    position: relative;
    /* width: 268px; */
    /* height: 24px; */
    /* left: 583px; */
    /* margin: 0 auto 0; */
    /* top: 49px; */
    /* margin-bottom: 40px; */
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #2c5662;
  }
  
  .mainHeaderDiv {
    margin-bottom: 20px;
  }
  
  .inputDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    width: 100%;
    margin-bottom: 24px;
  }
  
  .marginTop20 {
    margin-top: 20px;
  }
  
 
  .checkbox {
    width: 14px;
    height: 14px;
    /* left: 520px;
    top: 521px; */
  
    background: #595959;
    border: 2px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
  }
  

  
  .buttonText {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
  
    text-align: center;
  
    color: #ffffff;
  }

  .bg-transparent-black {
    background-color: #000000a8;
  }
  
  .buyLotteryBtn {
    border: 1px solid #FCFCFC;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 8px;
    background-color: transparent;
  }

  .border-grey-dark {
    border: 1px solid #343434;
  }

  .lotteryNcampaignTxt{
    color:  #FCFCFC;
    font-family: "Spartan", sans-serif;
    font-style: normal;
    line-height: 100%;

  }

  .lotteryBtn {
    background-color: #52C8E9;
  }

  .lotteryNcampaignGrid{
      display: grid;
      grid-template-rows: 2fr 3fr;
  
  }


  