
// colors
$default_grey : #CFCFCF;
$default_dark_grey : #9F9F9F;
$default_light_grey : #EFEFEF;
$primary_color : #6BB1D3;
$primary_color_lighter : rgba(83, 136, 111, 0.5);
$wine: #812F2F;
$app_blue: #445DA1;


// dimensions
$v_small_length: 2px;
$small_length : 7px;
$medium_length : 15px;
$big_length : 30px;
$v_big_length: 70px;
$default_height : 250px;
$default_dialog_height : 500px;


// body {
//   font-size: 1.6em !important;
// }

html, body {
  height: 100%;
  font-size: 0.99em !important;
}

#app {
  width: 100%;
  height: 100%;
}

.grey {
  color : $default_grey;
}

.dark-grey {
  color : $default_dark_grey;
}

.white {
  color : white;
}

.wine {
  color : $wine !important;
}

.blue {
  color : $app_blue;
}

.background-gradient-blue {
  background : linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-B9C7DC {
  background: #B9C7DC;
}

.bg-DCCCB9 {
  background: #DCCCB9;
}

.bg-B9DCC1 {
  background: #B9DCC1;
}

.grey-bg {
  background-color: $default_grey;
}

.primary-color-lighter-bg {
  background-color: $primary_color_lighter;
}

.dark-grey-bg {
  background-color: $default_dark_grey;
}

.default-h-padding {
  padding : 0px 10px;
}

.default-min-height {
  min-height: $default_height;
}

.login-welcome-span {
  position: relative;
  left: 20px;
}

.login-site-name-container {
  background: $primary_color;
  color : white;
}

.bold-font {
  font-weight: bold;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-container {
  text-align: center;
}

.lighter-font {
  font-weight: lighter;
}

i.mega-fa {
  font-size: 8em;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.large-font {
  font-size: 2em !important;
}

.much-larger-font {
  font-size: 4em !important;
}

.slight-bigger-font {
  font-size: 1.3em;
}

.close-dialog-button-text {
  font-size: 1.7em !important;
}

.slight-smaller-font {
  font-size: 0.85em;
}

.smaller-font {
  font-size: 0.65em;
}


img.logo-img-medium {
  width : 50px;
  height : 50px;
}

.center-login {
  width : 40%;
  min-width : 350px;
  height : 50%;
  min-height : 250px;
}

.max-height {
  height: 100%;
}

.grey-bordered {
  border : 1px solid $default_grey;
}

.top-bordered {
  border-top: 1px solid $default_grey;
  padding-top: 6px;
}

.bottom-bordered {
  border-bottom: 1px solid $default_dark_grey;
  padding-bottom: 6px;
}

.bottom-bordered-lighter {
  border-bottom: 1px solid $default_grey;
  padding-bottom: 6px;
}

.box-shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-padding-medium {
  padding-left: $medium_length;
}

.h-margin-big {
  margin-left: $big_length;
  margin-right: $big_length;
}

.h-margin-medium {
  margin-left: $medium_length;
  margin-right: $medium_length;
}

.h-margin-small {
  margin-left: $small_length;
  margin-right: $small_length;
}

.r-margin-small {
  margin-right: $small_length;
}

.r-margin-big {
  margin-right: $big_length;
}

.r-padding-big {
  padding-right: $big_length;
}

l-padding-small {
  padding-left: $small_length;
}

.h-padding-small {
  padding-left : $small_length;
  padding-right : $small_length;
}

.h-padding-v-small {
  padding-left: $v_small_length;
  padding-right: $v_small_length;
}

.h-padding-medium {
  padding-left : $medium_length;
  padding-right : $medium_length;
}

.h-padding-big {
  padding-left : $big_length;
  padding-right : $big_length;
}

.h-padding-20 {
  padding-left : 20px;
  padding-right : 20px;
}

.padding-medium {
  padding : $medium_length $medium_length;
}


.v-margin-top-v-big {
  margin-top: $v_big_length;
}


.v-margin-bottom-v-big {
  margin-bottom: $v_big_length;
}


.margin-top-big {
  margin-top : $big_length;
}

.margin-top-s {
  margin-top : $small_length;
}

.margin-top-m {
  margin-top : $medium_length;
}

.margin-bottom-s {
  margin-bottom: $small_length;
}

.margin-bottom-m {
  margin-bottom: $medium_length;
}

.v-margin-small {
  margin-top: $small_length;
  margin-bottom: $small_length;
}

.v-margin-big {
  margin-top: $big_length;
  margin-bottom: $big_length;
}

.v-margin-v-big {
  margin-top: $v_big_length;
  margin-bottom: $v_big_length;
}

.v-padding-small {
  padding-top : $small_length;
  padding-bottom : $small_length;
}


.v-padding-medium {
  padding-top : $medium_length;
  padding-bottom : $medium_length;
}


.v-centered {
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.margin-centered {
  margin-left: auto;
  margin-right: auto;
}

.sidebar-main {
  color: #FFF;
  background: $primary_color;
  width: 250px;
  height: 100%;
  position: fixed;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  color: #FFF;
  background: $primary_color;
}


#sidebar > .row-container {
  max-width: 250px;
}


#sidebar-logo-box {
  height: 127px;
  width: 70%;
  background-image: url(../../public/static/images/site-logo-transparent.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  float: right;
  position: absolute;
  top: 0px;
  left: 70px;
}


#welcome-msg {
  color : white;
  font-weight: bold;
  font-size: 1.3em;
  font-family: Helvetica;
  float: left;
  padding-left: 25px;
  z-index: 5;
}

.block {
  display: block;
}


.sidebar-menu-container {
  background: #2A3542;
  text-align: left;
  height: 79%;
  overflow: hidden;
  margin-top: 14px;
  padding-top: 20px;
}

.left-bordered {
  border-left: 1px solid #DDD;
}

.right-bordered {
  border-right: 1px solid #DDD;
}


.bottom-anchored {
  position: fixed;
  bottom: 0px;
  margin-bottom: 6px;
}


.bottom-anchored-in-parent {
  position: absolute;
  bottom: 0;
}


.relative {
  position: relative;
}


// .campaign-display-card {
//   position: relative;
// }


.secondary-sidebar-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding-right: 18px;
}


.sb-slidebar.sb-style-overlay {
  z-index: 9999;
}


.sb-slidebar .sb-active {
  visibility: visible;
}


.sb-slide, #sb-site, .sb-site, .sb-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  transition-property: -webkit-transform, left, right;
  -webkit-transition-property: -webkit-transform, left, right;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.app-btn {
  border: 1px solid #5E72E4;
  border-radius: 40px !important;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}


button.app-btn-primary {
  color: #FFF;
  background: #5E72E4;
}


button.app-btn-secondary {
  color: #5E72E4;
  background: #FFF;
}


.sb-right {
  right: 0;
}


#main-content-container {
  width: 75%;
}


#main-sidebar-container {
  width: 25%;
}


#main-sidebar {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background-color: #18294D;
  color: #aeb2b7;
  width: 400px;
  width: 25%;
  min-width: 300px;
  float: right;
  visibility: visible;
  box-shadow: -3px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// @media (max-width: 1443px) {
//   #main-sidebar {
//     width: 30%;
//   }
// }



.floating-main-action-btn-container {
  position: fixed !important;
  bottom: 30px;
  // right: 30px;
  right: 4%;
}

.floating-main-action-btn-container-gutter {
  width: 75%;
}

.lottery-detail-number-entries {
  font-size: 0.9em !important;
  line-height: 3.5em !important;
}

@media (max-width: 1240px) {
  #main-content-container {
    width: calc(100% - 300px);
  }

  .floating-main-action-btn-container {
    right: 7%;
  }

  .floating-main-action-btn-container button-container {
    margin-right: $v_big_length;
  }

  section.lottery-detail-number-item-symbol {
    font-size: 2em !important;

  }

  span.lottery-detail-number {
    font-size: 1.5em !important;
  }

  section.lottery-detail-number-item-symbol i {
    line-height: 3em !important;
  }

  span.lottery-detail-number {
    line-height: 2em !important;
  }

  span.lottery-detail-number-entries {
    font-size: 0.9em !important;
    line-height: 3.5em !important;
  }

}


.hidden-overflow {
  overflow: hidden;
}


hr.default-hr {
  margin-top: $small_length;
  margin-bottom: $small_length;
}



hr.bottom-bordered-main-sidebar-separator {
  border: none;
  height: 5px;
  color: #14284A; /* old IE */
  background-color: #14284A; /* Modern Browsers */
}


.bottom-bordered-main-sidebar-separator {
  border-bottom: 5px solid #14284A;
}


a.logo_white {
  font-size: 21px;
  color: #FFF;
  float: left;
  margin-top: 15px;
  text-transform: uppercase;
}


.primary_color_bg {
  background-color: $primary_color;
  color: #FFF;
}


.primary_color_bg a {
  color: #FFF;
}


:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #FF6C60;
  color: #fff;
}

.router-link-active {
  color: #FFF !important;
  font-weight: bolder;
}

.main-route-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.route-header-right-container-top-padded-m {
  padding-top: $medium_length;
}

.app-btn-default {
  width: 77px;
  margin-left: 5px;
}

.white-btn-blue:hover {
  color: white !important;
  background: $app_blue;
}

.white-btn-blue {
  color: $app_blue;
  background: white;
}

.white-btn-wine {
  color: $wine;
  background: white;
}

.white-btn-wine:hover {
  color: white !important;
  background: $wine;
}

.transparent-bg {
  background: rgba(255, 255, 255, 0) !important;
}


.grey-bg-transparent {
  background: rgba(200, 200, 200, 0.8);
}


a.sidebar-link-btn {
  cursor: pointer;
}


a.sidebar-link-btn:hover {
  background: #00283A;
}


.pointer {
  cursor: pointer;
}

.modal-mask {
  position: fixed;
  z-index: 199999998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}


.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}


.modal-container {
  margin: 0px auto;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}


.modal-small {
  width: 300px;
}


.modal-medium {
  width: 500px;
}


.modal-big {
  width: 800px;
}


.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-action-buttons-container {
  width: 50%;
  float: right;
  margin-right: $big_length;
  padding-bottom: 2px;
}


.modal-header {
  padding: 2px 15px 5px 7px !important;
}


.modal-body-no-bottom-padding {
  padding-bottom: 0 !important;
}

.modal-default-button {
  float: right;
}

.btn-default-width {
  width: 75px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.owl-carousel {
  -ms-touch-action: none;
  touch-action: none;
}

.owl-carousel {
  touch-action: manipulation; 
}

.no-display {
  display: none;
}

.invalid-field {
  border: 1px solid $wine !important;
}


.max-width-container {
  width: 100%;
  display: flex;
  overflow-x: scroll !important;
}


// .table{
//   display: block !important;
//   overflow-x: auto !important;
//   width: 100% !important;
// }

.table-responsive {
  overflow-y: visible !important;
}


.table-responsive * {
  overflow-y: visible !important;
}

#power-button {
  color: #E05858;
}

.dialog-wizard-main-content-container {
  max-height: $default_dialog_height;
  overflow-y: scroll;
}


.round-border {
  border-radius: 4px;
  border: 1px solid #EFEFEF;
}

.round-border-primary-color {
  border-radius: 4px;
  border: 1px solid $primary_color;
}

.profile-photo-container {
  min-width: 50px;
}

aside.side-menu {
  display: none;
}

#main-content {
  margin-left: 0px !important;
}


#main-content-lottery {
  margin-left: 0px !important;
}


@media screen and (min-width: 1000px) {

  #main-content {
    margin-left: 250px !important;
  }

  aside.side-menu {
    display: block;
  }

}

.relative {
  position: relative !important;
}

@media (max-width: 767px) {
  .btn-group .dropdown-menu-right {
      position: static !important;
      margin-left: -150px;
      margin-top: 25px;
      display: -moz-popup;
  }
}

// @media (min-width: 768px) {
//   .table-responsive {
//       overflow: visible;
//   }
// }


.col--12 {
  width: 100%;
  clear: both;
}
.col--11 {
  width: 91.66666667%;
}
.col--10 {
  width: 83.33333333%;
}
.col--9 {
  width: 75%;
}
.col--8 {
  width: 66.66666667%;
}
.col--7 {
  width: 58.33333333%;
}
.col--6 {
  width: 50%;
}
.col--5 {
  width: 41.66666667%;
}
.col--4 {
  width: 33.33333333%;
}
.col--3 {
  width: 25%;
}
.col--2 {
  width: 16.66666667%;
}
.col--1 {
  width: 8.33333333%;
}


table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.flex-container-baseline {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.flex-align-end {
  align-self: flex-end;
}


ul.sub li {
  padding-left: 32px;
  padding-bottom: 5px;
}


textarea.resize-v {
  resize: vertical;
}


#login-error-msg {
  padding-top: 0.5rem;
}

.top-page-nav-link {
  font-size: 1.3em;
}

.main-site-search-sm {
  display: none;
}

.item-list-item-card-container {
  margin-left: $big_length;
  margin-right: $big_length;
  padding: $medium_length;
}

.item-list-posting-date {
  font-size: 0.85em;
}

.item-list-user-fullname {
  font-size: 1.3em;
}

.item-list-posted-date-container {
  width: 25%;
}

.item-list-user-meta-container {
  width: 75%;
}

.item-list-user-meta-names-container {
  width: 83.3333333%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-list-user-meta-name {
  font-size: 1.3em;
}

.item-list-lottery-image-container {
  width: 16.6666667%;
}

.item-list-lottery-text-container {
  width: 83.3333333%;
  padding-left: 10px;
}

.lottery-detail-main-meta-container {
  width: 100%;
  white-space: nowrap;
  margin-top: 25px;
}

.lottery-detail-title-container {
  width: 35%;
  height: 100px;
  float: left;
  padding-right: 10px;
  white-space: normal;
}

.lottery-detail-title-container h5 {
  padding-top: 3%;
  font-weight: bold;
}

.lottery-detail-numbers-container {
  width: 65%;
  float: left;
}

.lottery-detail-desc-container {
  width: 75%;
  float: left;
  padding-left: $small_length;
  padding-right: $small_length;
}

.lottery-details-time-container {
  width: 25%;
  float: left;
  height: 150px;
  text-align: center;
}

.lottery-closing-date {
  color: #E05858;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.5em;
}

.lottery-time-img {
  width: 120px;
  height: 120px;
}

.lottery-detail-image-item {
  width: 30%;
  margin-left: 10px;
  height: 200px;
  float: left;
  background: #4784A0;
}

.lottery-detail-amount-raised-lbl {
  width: 32%;
  float: left;
  background: #A2AAAC;
  height: 100px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 30px;
}

.lottery-detail-amount-raised-lbl span {
  font-size: 1.5em;
  color: #FFF;
  vertical-align: middle;
  line-height: 1.5;
  display: inline;

}

.lottery-detail-amount-raised {
  width: 68%;
  background: #18417e;
  height: 100px;
  float: left;
  padding-right: 80px;
  padding-top: 5px;
}

.lottery-detail-amount-raised span {
  float: right;
  font-size: 3.5em;
  color: #FFF;
  font-weight: bolder;
}

.lottery-detail-campaign-container {
  width: 31%;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.lottery-detail-campaign-container-card {
  border-radius: 10px;
  border: 1px solid #DDD;
  background: #FAF4F4;
  width: 100%;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}

.lottery-detail-campaign-header {
  padding-left: $big_length;
  padding-right: $big_length;
}

.lottery-detail-campaign-profile-img {
  width: 20%;
  float: left;
  padding: 5px;
}

.lottery-detail-campaign-title {
  width: 80%;
  padding: 5px;
  white-space: normal;
  overflow: hidden;
  text-align: left;
}

.lottery-detail-campaign-desc {
  white-space: normal;
  overflow: hidden;
}

.lottery-detail-amount-raised-container {
  margin-top: $v_big_length;
  margin-bottom: $v_big_length;
}

.item-list-verified-badge {
  color: #000;
  background: #B2DFD4;
  font-weight: bold;
}

#sidebar-drawer-icon {
  display: none;
}


.wizard-step-list-item-container {
  width: 16.666667%;
  float: left;
}


.wizard-main-item-container {
  width: 83.333333%;
  float: left;
  padding-left: $medium_length;
}


.default-dialog-action-btn {
  width: 116px;
}

.default-desc-text-area {
  height: 136px;
  min-height: 136px;
  max-height: 136px;
}

section.lottery-detail-number-item-container {
  border: 1px solid #DFDFDF;
  border-radius: 30px;
  padding: 5px 10px;
  height: 95px;
  width: 30%;
  overflow: hidden;
  display: inline-block;
  margin-left: 10px;
}


section.lottery-detail-number-item-symbol {
  height: 120%;
  width: 40%;
  float: left;
  text-align: center;
  font-size: 3em;
  position: relative;
  top: -6px;
  left: -14px;
}


section.lottery-detail-number-item-symbol i {
  vertical-align: middle;
  line-height: 2em;
}


section.lottery-detail-number-item {
  height: 100%;
  width: 60%;
  float: left;
  text-align: center;
  vertical-align: middle;
}


span.lottery-detail-number {
  font-size: 2em;
  width: 100%;
  line-height: 1.5em;
  font-weight: bold;
}


span.lottery-detail-number-desc {
  font-size: 0.85em;
  width: 100%;
}


.input-search-results-container {
  position: absolute;
  top: 120px;
  width: 400px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.94);
  border: 1px solid rgb(221, 221, 221);
  max-height: 380px;
  overflow: scroll;
  border-radius: 4px;
  z-index: 1000;
}


.single-line-hidden-overflow {
  white-space: nowrap;
  overflow: hidden;
}


.single-line-scroll-overflow {
  white-space: nowrap !important;
  overflow-x: scroll !important;
}

.selected-campaign-search-results-container {
  max-height: 190px;
}

.campaign-search-result {
  width: 30%;
  float: left;
  border-radius: 10px;
  background: #FAF4F4;
  padding: $small_length;
  margin-right: $small_length;
  border: 1px solid #BBB;
}

.campaign-search-overlay-details-container {
  width: 90%;
}

.campaign-search-result-photo-container {
  width: 33.333333%;
}

.campaign-search-result-name-container {
  width: 58.333333%;
  position: relative;
  top: 5px;
}

.selected-results-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 110px;
}

.campaign-search-result-remove-container {
  margin-top: $big_length;
}

.item-list-sm-posting-date {
  display: none;
}


.lottery-detail-numbers-container {
  margin-left: auto;
  margin-right:auto;
  text-align: center !important;
  white-space: normal;
}


.lottery-entry-cost-container {
  width: 75%;
  border-radius: 100px;
  background: #677363;
  color: #FFF;
  font-size: 2.5em;
  text-align: center;
  padding: 6px 15px 6px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 25px;
}


.lottery-ticket-btn-row-container {
  padding-top: 30px !important;
  position: relative;
  top: 7px;
}


.lottery-entry-ticket-count-lbl {
  width: 40%;
  line-height: 2.8em;
  vertical-align: middle;
  float: left;
}

.lottery-entry-ticket-count {
  width: 60%;
  float: left;
}

.lottery-entry-ticket-count input {
  text-align: end;
  padding-right: 16px;
  font-size: 1.4em;
}

.clearfix {
  clear: both;
}

@media (max-width: 1090px) {


  .lottery-detail-title-container {
    width: 100%;
  }


  .lottery-detail-numbers-container {
    width: 100%;
    margin-top: $medium_length;
  }


  // .lottery-detail-campaign-profile-img {
  //     width: 40%;
  // }

  // .lottery-detail-campaign-title {
  //     width: 60%;
  // }


  .lottery-detail-campaign-container {
      width: 70%;
  }


}



@import "./md-main.scss";
@import "./sm-main.scss";


