

@media (max-width: 1000px) {
    #main-sidebar-container {
        display: none;
        width: 0px;
    }

    #main-content-container {
        width: 100%;
    }

    .floating-main-action-btn-container {
        right: 1%;
    }

    .floating-main-action-btn-container-gutter {
        width: 100%;
    }

    .lottery-list-posting-date {
        font-size: 0.7em;
        position: relative;
        top: 5px;
    }

}
  
  
@media (max-width: 1000px) { 
    .floating-main-action-btn-container-gutter {
        width: 90%;
    }


    .floating-main-action-btn-container-gutter .app-btn {
        font-size: 1.3em;
    }
}


