/**
* 540px - 1000px
*/


@import "./variables.scss";



@media (max-width: 1000px) {
    
    .item-list-posting-date {
        font-size: 0.7em;
        position: relative;
        top: 5px;
    }

}


@media screen and (min-width: 1000px) {

    #main-content {
      margin-left: 250px !important;
    }
  
    aside.side-menu {
      display: block;
    }
  
}
  
  
  
@media (max-width: 1000px) { 
    .floating-main-action-btn-container-gutter {
        width: 90%;
    }


    .floating-main-action-btn-container-gutter .app-btn {
        font-size: 1.3em;
    }
}

@media (max-width: 850px) {

    .modal-big {
        width: 430px;
    }

    .modal-action-buttons-container {
        width: 80%;
        margin-right: 0px;
    }

    .wizard-step-list-item-container {
        width: 100%;
    }

    .wizard-main-item-container {
        width: 100%;
        padding-left: 0;
        height: 560px;
    }

    .dialog-wizard-main-content-container {
        margin-bottom: 40px;
        height: 80%;
    }

    .selected-campaign-search-results-container {
        max-height: 290px;
    }
      
    .campaign-search-result {
        width: 47%;
        float: left;
    }

    .campaign-search-result-photo-container {
        width: 40%;
    }

    .campaign-search-result-name-container {
        width: 40%;
        font-size: 0.8em;
    }

    .input-search-results-container {
        position: absolute;
        top: 185px;
        width: 300px;
    }

    .campaign-search-overlay-details-container {
        width: 75%;
        float: left;
    }

    .modal-body {
      padding: 0 !important;
    }

    .stepy-titles li {
        margin: 10px 3px !important;
    }

    .default-desc-text-area {
        height: 300px;
        min-height: 300px;
        max-height: 300px;
    }

    .lottery-detail-amount-raised span {
        float: right;
        font-size: 2.5em;
        line-height: 2em;
    }

    .lottery-detail-amount-raised-lbl span {
        font-size: 1.3em;
    }

    .lottery-detail-campaign-header {
        padding-left: $medium_length;
        padding-right: $medium_length;
    }

    .lottery-detail-campaign-profile-img {
        width: 40%;
    }

    .lottery-detail-campaign-title {
        width: 60%;
        font-size: 0.85em;
    }


    .lottery-details-campaign-descriptor {
        font-size: 1.5em !important;
    }

}




@media (max-width: 767px) {
    .btn-group .dropdown-menu-right {
        position: static !important;
        margin-left: -150px;
        margin-top: 25px;
        display: -moz-popup;
    }

    .lottery-detail-desc-container {
        width: 100%;
    }

    .lottery-details-time-container {
        display: none;
    }

    .lottery-evaluation-date {
        display: inline-block;
    }

  }


