
// colors
$default_grey : #CFCFCF;
$default_dark_grey : #9F9F9F;
$default_light_grey : #EFEFEF;
$primary_color : #6BB1D3;
$primary_color_lighter : rgba(83, 136, 111, 0.5);
$wine: #812F2F;
$pinkish: #d459ab;
$app_blue: #445DA1;


// dimensions
$v_small_length: 2px;
$small_length : 7px;
$medium_length : 15px;
$big_length : 30px;
$v_big_length: 70px;
$default_height : 250px;
$default_dialog_height : 500px;

