<div>
    <div class="col--12 max-width-container h-padding-medium floating-main-action-btn-container">

        <div class="floating-main-action-btn-container-gutter">
            <div class="col--1 pull-right button-container">
                <button 
                    class="app-btn app-btn-primary box-shadowed"
                    @click="dialogOpts.createUser.visible=true">
                    <i class="fa fa-plus large-font"></i>
                </button>
            </div>
        </div>

    <!-- 
        <CreateBackOfficeUserDialog
            v-if="dialogOpts.createUser.visible"
            v-bind:visible="dialogOpts.createUser.visible"
            v-on:close-dialog="hideCreateBackOfficeUser" /> -->

    </div>
</div>
