<div class="main-sidebar v-padding-small">
    <div class="row v-padding-small h-padding-big">
        <div class="col--12">
            <div class="col--10 pull-right h-padding-small">
                <div class="col--3 pull-right">
                    <a class="pull-right" href="javascript:void(0);" @click="">
                        <i id="power-button" class="fa fa-power-off large-font" />
                    </a>
                </div>
                <div class="col--3 pull-right h-padding-medium">
                    <a class="pull-right" href="javascript:void(0);" @click="">
                        <i class="white fa fa-bell-o large-font" />
                    </a>
                </div>
                <div class="col--3 pull-right h-padding-medium">
                    <a class="pull-right" href="javascript:void(0);" @click="">
                        <i class="white fa fa-envelope-o large-font" />
                    </a>
                </div>
            </div>
            <div class="col--2">
                <a class="pull-left" href="javascript:void(0);" @click="">
                    <i class="white lighter-font fa fa-arrow-left large-font" />
                </a>
            </div>
        </div>
    </div>

    <div class="row h-padding-medium margin-top-big">
        <div class="h-padding-medium">
            <span class="slight-bigger-font">Wallet Balance</span><br />
            <span class="large-font">N 1,000,000.00</span>
        </div>

        <div class="col-md-12 margin-top-big">
            <base-button block type="secondary">Fund</base-button>
            <base-button block type="danger">Withdraw</base-button>
        </div>
    </div>

    <hr class="bottom-bordered-main-sidebar-separator" />

    <div class="row margin-top-big">
        <div class="h-padding-medium h-margin-medium margin-bottom-m">
            <h3 class="blue">Recent Activity</h3>
        </div>
        
        <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row">
                <div class="col-md-12">
                    You funded your wallet with N100,000
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row">
                <div class="col-md-12">
                    You withdrew N10,000 from your wallet
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row">
                <div class="col-md-12">
                    You funded your wallet with N100,000
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row">
                <div class="col-md-12">
                    You withdrew N10,000 from your wallet
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>
    </div>

</div>
