<div id="main-sidebar" class="v-padding-small">
    <div class="row v-padding-small h-padding-big">
        <div class="col--12">
            <div class="col--10 pull-right h-padding-small">
                <div class="col--3 pull-right">
                    <a class="pull-right" href="javascript:void(0);" @click="">
                        <i id="power-button" class="fa fa-power-off large-font" />
                    </a>
                </div>
                <div class="col--3 pull-right h-padding-medium">
                    <a class="pull-right" href="javascript:void(0);" @click="">
                        <i class="white fa fa-bell-o large-font" />
                    </a>
                </div>
                <div class="col--3 pull-right h-padding-medium">
                    <a class="pull-right" href="javascript:void(0);" @click="">
                        <i class="white fa fa-envelope-o large-font" />
                    </a>
                </div>
            </div>
            <div class="col--2">
                <a class="pull-left" href="javascript:void(0);" @click="">
                    <i class="white lighter-font fa fa-arrow-left large-font" />
                </a>
            </div>
        </div>
    </div>

    <div v-show="false">

        <div class="row h-padding-medium margin-top-big">
            <div class="h-padding-medium">
                <span class="slight-bigger-font">Wallet Balance</span><br />
                <span class="large-font">N 1,000,000.00</span>
            </div>

            <div class="col-md-12 margin-top-big">
                <base-button block type="secondary">Fund</base-button>
                <base-button block type="danger">Withdraw</base-button>
            </div>
        </div>

        <hr class="bottom-bordered-main-sidebar-separator" />

        <div class="row margin-top-big">
            <div class="h-padding-medium h-margin-medium margin-bottom-m">
                <h3 class="blue">Recent Activity</h3>
            </div>

            <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
                <div class="row">
                    <div class="col-md-12">
                        You funded your wallet with N100,000
                    </div>
                    <div class="v-margin-small col-md-12">
                        5s ago
                    </div>
                </div>
            </div>

            <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
                <div class="row">
                    <div class="col-md-12">
                        You withdrew N10,000 from your wallet
                    </div>
                    <div class="v-margin-small col-md-12">
                        2d ago
                    </div>
                </div>
            </div>

            <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
                <div class="row">
                    <div class="col-md-12">
                        You funded your wallet with N100,000
                    </div>
                    <div class="v-margin-small col-md-12">
                        2d ago
                    </div>
                </div>
            </div>

            <div class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
                <div class="row">
                    <div class="col-md-12">
                        You withdrew N10,000 from your wallet
                    </div>
                    <div class="v-margin-small col-md-12">
                        2d ago
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div v-show="false">

        <div class="v-margin-big">
            <div class="h-padding-medium margin-bottom-m">
                <h3 class="notif-list-title">Notifications</h3>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    A sum of <span class="notif-entity-amount">N100,000</span> was reversed into your wallet. Source
                    LOTTERY - @burnaboy <span class="notif-entity-title">'Dinner date with Burna Boy'</span>
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    Your campaign <span class="notif-entity-title">‘Title of Campaign’</span> has been credited with
                    funds
                    <span class="notif-entity-amount">N100,000</span>
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    Congratulations!!! You just won <span class="notif-entity-username">@burnaboy</span> Lottery
                    <span class="notif-entity-title">‘Dinner date with Burna Boy’</span>.
                    Check your messages, we have opened a chat window with <span
                        class="notif-entity-username">@burnaboy</span>.
                    Details on claiming your prize will be communicated to you.
                    Remember to acknowledge your lottery prize so the campaigns can be credited.
                </div>
                <div class="col-md-12 v-margin-small slight-bigger-font">
                    <div class="col--6 pull-left center-container notif-entity-positive-action">
                        Acknowledge
                    </div>
                    <div class="col--6 pull-left center-container notif-entity-negative-action">
                        Deny
                    </div>
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    <span class="notif-entity-username">@burnaboy</span> (Your) Lottery draw is about to start. Tune in
                    now.
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    Your campaign <span class="notif-entity-title">‘Title of Campaign’</span> was successfully created.
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    Your lottery <span class="notif-entity-title">‘Title of Lottery</span> was successfully created.
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    Your campaign <span class="notif-entity-title">‘Title of Campaign’</span> expired. A total of
                    <span class="notif-entity-amount">N100,000</span> was raised.
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    Your lottery <span class="notif-entity-title">‘Title of Lottery’</span> has ended. A total of
                    <span class="notif-entity-amount">N100,000</span> was raised. Thank you for using Socialotto.
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row v-margin-medium">
                <div class="col-md-12">
                    <span class="notif-entity-username">@burnaboy</span> has denied receiving lottery prize for
                    <span class="notif-entity-title">‘Dinner date with Burna Boy’</span>. Kindly provide a response.
                    If you acknowledge giving the prize, you have to upload some evidence.
                </div>
                <div class="col-md-12 v-margin-small slight-bigger-font">
                    <div class="col--6 pull-left center-container notif-entity-positive-action">
                        Acknowledge
                    </div>
                    <div class="col--6 pull-left center-container notif-entity-negative-action">
                        Deny
                    </div>
                </div>
                <div class="v-margin-small col-md-12">
                    2d ago
                </div>
            </div>
        </div>

    </div>


    <div v-show="false">

        <div class="v-margin-big">
            <div class="h-padding-medium margin-bottom-m">
                <h3 class="notif-list-title">Messages</h3>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-s bottom-bordered-main-sidebar-separator pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

    </div>


    <div v-show="true">

        <div class="v-margin-big">
            <div class="h-padding-medium margin-bottom-m">
                <h3 class="notif-list-title">Messages</h3>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-m message-list-received-container pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-m message-list-sent-container pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">You</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-m message-list-received-container pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">Burna
                                Boy</span> <span><i class="fa fa-check-circle blue"></i></span> <span
                                class="dark-grey h-margin-small message-list-user-meta-name">@burnaboyburnaboyburnaboy</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize.
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium margin-bottom-m message-list-sent-container pointer">
            <div class="row v-margin-medium">
                <div class="message-list-user-meta-container h-padding-medium hidden-overflow">
                    <div class="col--1 pull-left profile-photo-container" style="padding-left: 0px;"><span
                            class="r-margin-small">
                            <div
                                style="border-radius: 50px; display: inline-block; width: 50px; height: 50px; background: rgb(0, 0, 0);">
                            </div>
                        </span>
                    </div>
                    <div class="item-list-user-meta-names-container pull-left h-padding-small">
                        <div style="position: relative; top: 3px;"><span class="message-list-user-meta-name">You</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 primary_color_fg">
                    Hello Chief, I'm interested in retrieving my lottery prize. How do I go about it?
                    Hello Chief, I'm interested in retrieving my lottery prize.
                </div>
                <div class="v-margin-small col-md-12">
                    5s ago
                </div>
            </div>
        </div>

        <div class="max-width h-margin-medium v-margin-v-big"></div>

        <div class="message-compose-container">
            <div class="form-group input-group"> 
                <input aria-describedby="addon-right addon-left" placeholder="Enter Message"
                    class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-send"></i></span>
                </div>
            </div>
        </div>

    </div>



</div>