<div>

    <div class="row h-padding-medium margin-top-big">
        <div class="padding-top-m h-padding-medium">
            <span class="slight-bigger-font">Wallet Balance</span><br />
            <span class="large-font">{{util.currencyFormat(walletBalance)}}</span>
        </div>

        <div class="col-md-12 margin-top-big">
            <base-button block type="secondary">Fund</base-button>
            <base-button block type="danger">Withdraw</base-button>
        </div>
    </div>

    <hr class="bottom-bordered-main-sidebar-separator" />

    <div class="row margin-top-big">
        <div class="h-padding-medium h-margin-medium margin-bottom-m">
            <h3 class="blue">Recent Activity</h3>
        </div>

        <div v-for="a in walletActivities"
            class="max-width h-margin-big margin-bottom-s bottom-bordered-main-sidebar-separator">
            <div class="row">
                <div class="col-md-12">
                    {{a.description}}
                </div>
                <div class="v-margin-small col-md-12">
                    {{zdtToDTFormat(a.timeAdded)}}
                </div>
            </div>
        </div>

    </div>

</div>