<div>
    
    <div class="h-padding-big margin-top-m row">
        <div class="col--12">
            <div class="col--6 pull-right">
                <span class="pull-right">
                    <a class="grey top-page-nav-link" href="javascript:void(0);">
                        About
                    </a>&nbsp;&nbsp;<a class="grey top-page-nav-link" href="javascript:void(0);">
                        Contact
                    </a>
                    <a id="sidebar-drawer-icon" class="grey top-page-nav-link" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </span>
            </div>
            <div class="col--6">
                <h1 class="site-name">Socialotto</h1>
            </div>
        </div>
    </div>

    <div class="row v-margin-big h-padding-big">
        <div class="col--12">
            <div class="col--3 pull-right">
                <div class="main-site-search">
                    <base-input placeholder="Search" addon-left-icon="fa fa-search"></base-input>
                </div>
                <div class="main-site-search-sm">
                    <button type="button" class="btn btn-outline-none btn-outline-none-no-padding pull-right">
                        <i class="fa fa-search large-font pull-right"></i>
                    </button>
                </div>
            </div>
            <button class="app-btn app-btn-primary">
                <router-link to="/lottery">
                    Lotteries
                </router-link>
            </button>
            <button class="app-btn app-btn-secondary h-margin-medium">
                <router-link to="/campaign">
                    Campaigns
                </router-link>
            </button>
        </div>
    </div>

</div>