<modal v-bind:show="visible" v-bind:modal-class="'modal-medium'" v-on:close-dialog="close">

    <div class="col--12" slot="header">

        <button 
            type="button" 
            data-dismiss="modal" 
            aria-label="Close" 
            class="close pull-right"
            @click="close()">
            <span class="close-dialog-button-text">×</span>
        </button>

        <h4 v-if="canDisplayTitle" class="bold-font">Buy Lottery Tickets</h4>

        <span class="blue" v-if="enterLottery.loading">
            Processing <i class="fa fa-spinner fa-spin"></i>
        </span>

        <span class="wine smaller-font" v-if="isValidString(enterLottery.error)"
            v-text="'ERROR: ' + enterLottery.error"></span>


    </div>

    <div class="row h-padding-small" slot="body">
        <div class="panel-body col--12 center-container">
            <div class="lottery-entry-cost-container margin-centered">
                {{totalPayment}}
            </div>
            <div class="col--12">
                <div class="lottery-entry-ticket-count-lbl">
                    Number of Tickets
                </div>
                <div class="lottery-entry-ticket-count">
                    <div class="form-group">
                        <input id="lotteryTicketCount" type="number" class="disable form-control"
                            oninput="let val=Math.abs(Math.round(this.value));this.value = val>0 ? val : 1"
                            v-model="lotteryEntry.entries" />
                    </div>
                </div>
            </div>
            <div class="col--12 lottery-ticket-btn-row-container ">
                <button 
                    class="app-btn app-btn-primary box-shadowed"
                    :disabled="enterLottery.loading"
                    @click="joinLottery()">
                    <span>Buy Tickets</span>
                </button>
            </div>
        </div>
    </div>
    <div class="no-display" slot="footer">
        //
    </div>
</modal>

