<div>

    <div class="margin-top-big">
        <div class="h-padding-medium padding-top-m">
            <h3 class="notif-list-title">Notifications</h3>
        </div>
    </div>

    <div class="max-width h-margin-medium margin-bottom-s" v-if="!isValidArray(notifications)">
        <br />
        <span>Nothing yet...</span>
    </div>
    <div v-else>
        <div v-for="notif in notifications"
            class="max-width h-margin-small margin-bottom-s">
            <div class="max-width v-margin-medium">
                <div class="col--12 h-padding-small">
                    {{notif.message}}
                </div>
                <div class="v-margin-medium h-padding-small col--12 bottom-bordered-main-sidebar-separator">
                    {{zdtToDTFormat(notif.timeAdded)}}
                </div>
            </div>
        </div>
    </div>
    

    <!-- <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                Your campaign <span class="notif-entity-title">‘Title of Campaign’</span> has been credited with
                funds
                <span class="notif-entity-amount">N100,000</span>
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                Congratulations!!! You just won <span class="notif-entity-username">@burnaboy</span> Lottery
                <span class="notif-entity-title">‘Dinner date with Burna Boy’</span>.
                Check your messages, we have opened a chat window with <span
                    class="notif-entity-username">@burnaboy</span>.
                Details on claiming your prize will be communicated to you.
                Remember to acknowledge your lottery prize so the campaigns can be credited.
            </div>
            <div class="col--12 h-padding-small v-margin-small slight-bigger-font">
                <div class="col--6 pull-left center-container notif-entity-positive-action">
                    Acknowledge
                </div>
                <div class="col--6 pull-left center-container notif-entity-negative-action">
                    Deny
                </div>
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                <span class="notif-entity-username">@burnaboy</span> (Your) Lottery draw is about to start. Tune
                in
                now.
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                Your campaign <span class="notif-entity-title">‘Title of Campaign’</span> was successfully
                created.
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                Your lottery <span class="notif-entity-title">‘Title of Lottery</span> was successfully created.
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                Your campaign <span class="notif-entity-title">‘Title of Campaign’</span> expired. A total of
                <span class="notif-entity-amount">N100,000</span> was raised.
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                Your lottery <span class="notif-entity-title">‘Title of Lottery’</span> has ended. A total of
                <span class="notif-entity-amount">N100,000</span> was raised. Thank you for using Socialotto.
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div>

    <div class="max-width h-margin-small margin-bottom-s">
        <div class="max-width v-margin-medium">
            <div class="col--12 h-padding-small">
                <span class="notif-entity-username">@burnaboy</span> has denied receiving lottery prize for
                <span class="notif-entity-title">‘Dinner date with Burna Boy’</span>. Kindly provide a response.
                If you acknowledge giving the prize, you have to upload some evidence.
            </div>
            <div class="col--12 h-padding-small v-margin-small slight-bigger-font">
                <div class="col--6 pull-left center-container notif-entity-positive-action">
                    Acknowledge
                </div>
                <div class="col--6 pull-left center-container notif-entity-negative-action">
                    Deny
                </div>
            </div>
            <div class="v-margin-small col--12 h-padding-small bottom-bordered-main-sidebar-separator">
                2d ago
            </div>
        </div>
    </div> -->


</div>